.powers-modal {
    .category-title {
	text-align: center;
	margin-top: 5px;
    }
    .columns {
	column-gap: 5px;
	margin-top: 5px;
    }
    .tabs {
	margin: -16px -32px 0 -32px;
    }
    .tab {
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: 1px solid $border;
	width: calc(100% / 4);
	padding: 5px;

	&.active {
	    font-weight: bold;
	    text-decoration: underline;
	}
    }
    
    .title {
	font-size: 1.5em;
	font-weight: bold;
	float: left;
    }
    .no-powers-available {
	border: 1px solid $border;
	border-radius: 4px;
	font-size: 11px;
	padding: 5px;
    }
    .filter-powers-toggle {
	float:right;
	text-align: center;
	display: block;
	font-size: 11px;
	width: 220px;
	height: 34px;
	line-height: 15px;
    }
    .category-title {
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
    }
}
.cards {
    .columns {
	column-count: 2;
	column-gap: 20px;
	padding-top: 20px;
	:first-child {
	    margin-top: 0;
	}
    }
}
.card {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid $border;
    border-radius: 4px;
    font-size: 12px;
    background: white;
    -webkit-column-break-inside: avoid;

    &.adding {
	@extend .on-click-animation; //from _elements.scss
	cursor: pointer
    }

    .card-header {
	font-weight: bold;
	input {
	    font-size: 12px;
	    height: 16px;
	    border: none;
	    background: #fafafa; // like in textarea in _global.scss
	    outline: 1px solid $border;
	    font-weight: bold;
	}
    }

    .edit-icons {
	svg {
	    float:right;
	    color: $text-dim;
	    margin-right: 5px;
	    height: 15px;
	    &:hover {
		cursor: pointer;
		color: $text;
	    }
	}
    }
    
    
    .level {
	//width: 36px;
	padding: 0 4px;
	height: 16px;
	margin-right: 5px;
	border-radius: 2px;
	background: $panel-bg;
	float:left;
	color: $text;
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:default;
	svg {
	    margin-right: 5px;
	}
    }

    .requirements {
	float: right;
	margin-right: 0;
    }
    
    hr { margin-top: 2px; }
    .textarea-description {
	outline: 1px solid $border;	
    }
    .card-footer {
	border-top: 1px solid $border;
	margin-top: 5px;
	padding-top: 5px;
    }
    &:first-child {
	margin-top: 0;
    }
}

.append {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-dim;
    background: transparent;
    svg {
	margin: 5px;
	width: 1.5em;
	height: 1.5em;
	color: $text-dim;
    }
    &:hover {
	background: white;
	color: $text;
	cursor: pointer;
	svg { color: $text; }
    }
}

