.npcs {
    display: grid;
    grid-gap: 0 10px;
    grid-template-columns: repeat(3, 1fr);
}

.npc {
    border: 1px solid $border;
    border-radius: 4px;
    background: #fafafa;
    margin-top: 10px;
    height: 315px;
    width: 226px;
    position: relative;
    svg {
	max-height: 16px;
    }
    // Name
    .name {
	text-align: center;
	font-size: 16px;
	margin: 0;
	border: none;
	border-bottom: 1px solid $border;
	background: #fafafa;
	font-weight: bold;
	width: 100%;
	border-radius: 0; // corners are rounded in ios. will this fix it?
	&:hover,&:focus {
	    outline:none;
	}
    }  
    // Buttons
    .dropdown {
	font-size: 11px;
	position: absolute;
	right: 10px;
	top: 10px;
	.menu-handle {
	    width: 20px;
	    height: 20px;
	    line-height: 20px;
	    padding: 0;
	    text-align: center;
	}
	.menu .btn {
	    opacity: 0.7;
	    padding: 4px;
	    line-height: 20px;
	    svg {
		margin-right: 5px;
	    }
	}	
    }
    // .edit-btn, .delete-btn {
    // 	@extend .show-stats-btn;
    // 	float: left;
    // }
    
    // Image
    .character-image {
	width: 100px;
	height: 100px;
	margin-top: 5px;
    }
    .image-url {
	margin-top: 10px;
	height: 95px;
	input {
	    float: left;
	    width: calc(100% - 20px);
	}
	.icon {
	    margin: 4px 0 0 4px;
	    cursor: pointer;
	}
    }

    // Description
    .character-description {
	margin-top: 5px;
	font-size: 12px;
	background: white;
	padding: 5px;
	border: 1px solid #dddddd;
	border-radius: 4px;
	height: 160px;
	overflow-x: hidden;
	overflow-y: auto;
	p {
	    margin: 0;
	}
    }
    textarea {
	font-size: 12px;
	margin-top: 10px;
	background: white;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid $border;
    }

    .stats {
	justify-content: space-between;
	margin-top: 5px;
    }
    .stats .stat {
	background: white;
	width: calc(33.33% - 5px);
	height: auto;
	padding: 5px;
	.value {
	    line-height: unset;
	    background: white;
	    width: 36px;
	}
	input:focus {
	    //outline: 1px solid $border;
	    outline: none;
	}
    }
    .powers {
	overflow-x: hidden;
	overflow-y: auto;
	height: 215px;
	margin-top: 5px;

	&::-webkit-scrollbar {
	    width: 6px;
	}
	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-corner {
	    background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
	    background-color: $border;
	    border-left: 2px solid transparent!important;
	    //border-radius: 9px;
	    background-clip: content-box;
	}

	.card {
	    .card-title {
		display:block;
	    }
	    .delete-btn {
		width: 12px;
		height: 12px;
		//margin-right:5px;
		line-height: 16px;	    
		border:none;
		float:right;
	    }
	    .level {
		float: left;
		margin-left: 0;
		margin-right: 5px;
	    }
	}
    }
    padding: 10px;
    -webkit-column-break-inside: avoid;
}

.powers-modal-npcs {
    @extend .powers-modal;
    .card .level {
	float: left;
	margin-left: 0;
	margin-right: 5px;
    }
}
