body {
    @media print {
	background: white;
    }
}
header, .subnav {
    @media print {
	display:none;
    }
}
.main {
    @media print {
        overflow: unset;
	overflow-y: visible;
    }
}
.wrapper {
    @media print {
	max-width: 100%;
    }
}
.character-sheet {
    @media print {
	width: 100%;
	margin:0;
	overflow: visible;
	box-shadow: none;
	.stat .value:first-child {
	    //opacity: 0;
	    //border-bottom: 1px solid $border;
	}
	.add-image, .character-description, .append {
	    display: none;
	}
    }
}
    
